
<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Prafulla's Blog</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Prafulla Joshi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="{% url 'aboutme' %}">About Me</a>
            <a class="nav-item nav-link" href="{% url 'otherwork' %}">Other Work</a>
          <li class="active">  <a class="nav-item nav-link" href="{% url 'certificates' %}">Certificates & Seminars</a> </li>
            <a class="nav-item nav-link" href="{% url 'projects' %}">Project Undertaken</a>
            <a class="nav-item nav-link" href="http://linkedin.com/in/prafulla-joshi">LinkedIn</a>
            <a class="nav-item nav-link" href="{% static 'FakeResume.pdf' %}">Resume</a>
            <a class="nav-item nav-link" href="{% url 'allblogs' %}">Blog</a>
          </div>
        </div>
      </nav>
    </header>

    <main role="main">
      <div class="container">
        <h1 class="text-center pt-3">Seminars & Certificates</h1>

        <h2>MultiOS Installation</h2>
        <hr>
        <h5> <p>I have attened MultiOS Installation seminar conducted by Dr Vijay Gokhale sir in 2017. In this seminar Gokhale sir have taught me all basic fundamentals of
                operating system in detail. He had chosen total 9 Os to install on his own single machine, out of them three OS wer to be installed with virtual machine and
                other were installed natively. He also had installed MacOS X on the system which is not MacOS Compatible i.e., normal PC. Such type of OS is known as hackintosh.
                This seminar was conducted for two days, In this seminar, sir showed us demo of his own machine having multiple operating systems, he also showed Mac OS without
                having Mac Book. This seminar had impacted on me to the great extent. I had also tried installing multiple operating system on my laptop. Many things that we
                prented to be known but we actually don't know them at all. Such things I learned a lot in this seminar.</p> </h5>

        <h2>Vishwapreneur Program</h2>
        <hr>
        <h5> <p> I had attened Vishwapreneur Program which was related to entrepreneurship and development that was organized by VIT College Pune. This program was itselt
                 a motivation to many of us. Many people who are zero level entrepreneur i.e., the people who have built up their business from the scratch have visited to
                 VIT campus to encourage the students. These were people who had lot of experince and were successful in the diffrent fields. Some of them were from
                 construction line, some were from film industry, some were from hotel industry, some were from IT background and some were from mechanical side which influenced
                 us a lot. VIT conducts this program every year in the month of January. Many students attend this program every year with great enthusiasm </p> </h5>






      </div>
    </main>

    <footer class="text-muted">
      <div class="container text-center">
        <p>&copy; CopyRight Prafulla Joshi {% now "Y" %}</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
  </html>
