<h1>About Page</h1>
<h2>
  <p>This is my first django website I have done from Udemy course. Nil Walker is my instructor. This website takes any paragraph as an input and returns the cout of the words.
  This is a simple website by which I have understood how Django actually works. How it takes the request and checks for the URL and go to the respective function in the views.py file.
views.py file contains different functions. Respective function is executed depeneding on the requested URL by the user. Views.py file decides which HTML page should be rendered on the front end.
For that render function is used. Function in Views.py file takes request as a parameter and returns HttpResponse with the help of render function</p>
</h2>

<a href="{% url 'home' %}">Return Home</a>
